.content{
	width: 842px;
	position: absolute;
    left: 50%;
	margin-top: 16px;
	margin-left: -421px;
	padding-bottom: 20px;
	border: 1px solid #d7d7d7;
	border-radius: 20px;
	text-align: center;
}
.bar{
	margin: 0;
	padding: 0;
	background: #DE5863;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	height: 36px;
}
.form{

}
.register{
	height: 32px;
	line-height: 32px;
	color: #757575;
	font-size: 33px;
	margin-top: 33px;
}
form div{
	margin-top: 63px;
	font-family: normal;
	color: #757575;
	font-size: 14px;

}
form div input{
	border: 1px solid #d7d7d7 !important;
    border-radius: 10px;
    margin-left: 29px;
    width: 345px;
    height: 32px;
    line-height: 32px
}
#user{
	margin-top: 40px;
}
.btn{
	background: none;
	margin-top: 70px;
	width: 56px;
	font-family: normal;
	color: #757575;
	font-size: 18px;
	border-bottom: 3px solid #f6d703;
}
.tip{
	display: none;
	width: 30px;
	height: 10px;
}
.warning{
	color: red;
	width: 30px;
	height: 10px;
}