<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.cbu.dao.CommentMapper">
    <insert id="comment" parameterType="com.dong.cbu.model.Comment">
        insert INTO comment (id,title,keyword,clicks,detail,ownerId,created,movieId,preuserId)
        VALUES
        (#{id,jdbcType=BIGINT},#{title,jdbcType=VARCHAR},#{keyword,jdbcType=VARCHAR},#{clicks,jdbcType=BIGINT},#{detail,jdbcType=VARCHAR},
        #{ownerId,jdbcType=BIGINT},#{created,jdbcType=TIMESTAMP},#{movieId,jdbcType=BIGINT},#{preuserId,jdbcType=BIGINT})
    </insert>
    <select id="queryByMovieId" parameterType="Int" resultType="com.dong.cbu.model.Comment">
        SELECT *
        FROM comment
        WHERE movieId =#{movieId,jdbcType=BIGINT}
    </select>

    <select id="queryByOwnerId" parameterType="Int" resultType="com.dong.cbu.model.Comment">
        SELECT *
        FROM comment
        WHERE ownerId =#{ownerId,jdbcType=BIGINT}
    </select>
</mapper>