<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.cbu.dao.MemberMapper">
    <resultMap id="BaseResultMap" type="com.dong.cbu.model.Member">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="money" property="money" jdbcType="BIGINT"/>
        <result column="rank" property="rank" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="BaseColumnList">id,name,password,sex,email,birthday,money,rank</sql>

    <select id="isMemberExists" parameterType="com.dong.cbu.model.Member" resultType="int">
        select count(name) from member where name = #{name,jdbcType=VARCHAR}
    </select>

    <insert id="insertMember" parameterType="com.dong.cbu.model.Member">
        INSERT INTO member (id,name,password,sex,email,birthday,money)
        VALUES
        (#{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{sex,jdbcType=BIGINT},#{email,jdbcType=VARCHAR},#{birthday,jdbcType=TIMESTAMP},#{money,jdbcType=BIGINT})
    </insert>
    <select id="loginMember" resultType="com.dong.cbu.model.Member" parameterType="String">
        SELECT <include refid="BaseColumnList"/>FROM member WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="showOneMember" parameterType="int" resultType="com.dong.cbu.model.Member">
        SELECT<include refid="BaseColumnList"/>from member WHERE id = #{id,jdbcType=BIGINT};
    </select>

    <select id="superUpdateMember" parameterType="com.dong.cbu.model.Member">
        UPDATE member
        <set>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}

    </select>

    <select id="searchByScoreAndType" parameterType="Map" resultType="com.dong.cbu.model.Movie">

        SELECT *
        FROM movie
        INNER JOIN parameter on parameter.movieId = movie.id
        WHERE score >= #{score,jdbcType=BIGINT} AND  typeId = #{typeId,jdbcType=BIGINT}
    </select>

    <select id="searchMemberByName" parameterType="String" resultType="com.dong.cbu.model.Member">
        SELECT *
        from member
        WHERE name = #{name}
    </select>

    <select id="searchByScore" parameterType="Int" resultType="com.dong.cbu.model.Movie">

        SELECT *
        FROM movie
        WHERE score >=#{score,jdbcType=BIGINT}
    </select>

    <select id="searchByScoreAndStatus" parameterType="Map" resultType="com.dong.cbu.model.Movie">
        SELECT *
        From movie
        WHERE status = #{status,jdbcType=BIGINT} AND score >= #{score,jdbcType=BIGINT}
    </select>
    <select id="searchByName" parameterType="String" resultType="Integer">
        SELECT id FROM movie WHERE name =#{name,jdbcType=VARCHAR }
    </select>


</mapper>